<ion-header>
  <ion-toolbar>
    <ion-title>Recherche de tuteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Sujet</ion-label>
    <ion-input [(ngModel)]="subject"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Niveau</ion-label>
    <ion-input [(ngModel)]="level"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="doSearch()">Rechercher</ion-button>

  <ion-list>
    <ion-item *ngFor="let tutor of tutors">
      {{ tutor.name }} - {{ tutor.email }}
    </ion-item>
  </ion-list>
</ion-content>
