.login-container {
  width: 400px;
  margin: auto;
  text-align: center;
height: 300px;
  h1 {
    margin-top: 50px;
    font-size: 24px;
    color: #007aff;
  }

  

  ion-input {
    margin-bottom: 35px;
  }

  .login-button {
    margin-top: 10px;
    background-color: #007aff;
  }


  }
