<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alicia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding chat-content">
   <div *ngFor="let msg of messages" [ngClass]="msg.expediteur_id === userId ? 'sent' : 'received'" class="message-bubble">
    {{ msg.texte }}
    <div class="time">{{ msg.envoye_le | date:'shortTime' }}</div>
  </div>
  <ion-footer>
    <ion-toolbar>
     <ion-item class="input-bar">
       <ion-input [(ngModel)]="newMessage" placeholder="Votre message..." (keyup.enter)="envoyer()"></ion-input>
       <ion-button fill="clear" (click)="envoyer()" color="primary">
        <ion-icon name="send"></ion-icon>
       </ion-button>
     </ion-item>
    </ion-toolbar>
  </ion-footer>