<ion-header>
    <ion-toolbar>
      <ion-title size="large">Soutiens Moi</ion-title>
      </ion-toolbar>
</ion-header>
    <ion-content class="ion-padding accueil-content">
      <div class="home-container">
      <ion-button  class="home-button" type="submit"><a href="/login"></a>Se connecter</ion-button><br>
         <ion-button class="home-button" type="submit"><a href="/register"></a>S’inscrire</ion-button>
      

  <div class="slogan">
    <h1>L'apprentissage est plus fort ensemble 💡</h1>
  </div>
  </div>
</ion-content>
 
