.home-container {
text-align: center;
  margin: auto;
height: 300px;
  
}

.slogan h1 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #98a5ec;
  position: relative;
  top: 300px;
}
.home-button{
  margin-top: 30px;
  border-radius: 100px;
  top: 200px;
  background-color: blue;
  width: 200px;
}