.btn-search {
  margin-top: 1rem;
  border-radius: 10px;
  --background: #0077cc;
  --color: white;
}

.card {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
