<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="name" placeholder="Nom" type="text"></ion-input>
  <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
  <ion-input [(ngModel)]="password" placeholder="Mot de passe" type="password"></ion-input>
  <ion-input [(ngModel)]="password_confirmation" placeholder="Confirmez le mot de passe" type="password"></ion-input>

  <ion-select [(ngModel)]="role" placeholder="Rôle">
    <ion-select-option value="student">Étudiant</ion-select-option>
    <ion-select-option value="tutor">Tuteur</ion-select-option>
  </ion-select>

  <ion-button expand="block" (click)="register()">S'inscrire</ion-button>
</ion-content>
